<html>
    <head>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        max-width: 1600px;
        margin: 30px 30px;
    }
    td{
        width:auto;
        padding: 10px 10px;
        font-size:14px;
    }
    #facturas-descontadas{
        margin-top:50px;
    }
    .checkbox-td{
            border: none;
    padding-bottom: 0px;
    padding-top: 20px;
    padding-left: 20px;
    }
</style>

    </head>
    <body>
        <h1>Sell Offers IACNA</h1>
        <p id="result">No hay facturas descontadas por el momento.</p>
        <table id="facturas-descontadas"></table>
        <div style="margin-top:30px;"><button>Confirmar</button></div>
<script src="./js/banco-facturas.js"></script> 
    </body>
</html>