<html>
    <head>


    
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    header{
    background-color: #183c56;
    z-index:1;
    height: 50px;
}
 .main{
       margin: 50px auto;

 }   

body{
            max-width:none;
            margin:0;
      }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
   border-bottom: solid 1px #b5b3b3;
    padding: 10px;
  display: block;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.sidebar{
      float:left;
      height:120%;
      width: 200px;
      position:absolute;
      background-color:#292c35;
      z-index:0;
     color: white;
    padding-top: 90px;

}
    td{
        width:auto;
        padding: 10px 10px;
        font-size:14px;
    }
    #edit-btn{
        float:left;
    }
    .selloffers{
        background-color: #0b7f43;
        width:150px;
    }
    #save-btn{
        visibility: hidden;
        display: none;
        margin-left:10px;
        float:left;
    }
    #result{
        margin-top:50px;
    }
</style>
    </head>
    <body>
               {{>header}}

       {{>sidebar}}
       <script>
            document.getElementById("cs").href="/banco"
           document.getElementById("inicio").href="/inicio-banco"
           document.getElementById("op-1").innerHTML="Clientes"
           document.getElementById("op-1").href="/banco-clientes"
           document.getElementById("op-2").innerHTML="Sell Offers"
           document.getElementById("op-2").href="/banco-facturas"
           document.getElementById("op-3").innerHTML="Documentos Comprados"
                document.getElementById("op-3").href="/banco-comprados"
           </script>
        <div class="main">
  <h1>Perfil de IACNA Mexico S. de R.L. de C.V.</h1>

        <form>
            Search by RFC: <input placeholder="RFC" id="searchRFC">
         
            <button type="button" onclick="search()">Search</button>
        </form>
                   Línea de Credito: 3,000,000 MXN
        <div id="result">
            <p id="nombre"></p>
                <form>
            <input placeholder="Dias de Gracia" id="days">
            <input placeholder="Linea de Credito" id="linea">
            <input placeholder="Aforo" id="aforo">%
                 </form>
        <div>
        <button id="edit-btn" onclick="editbtn()">Edit</button>
        <button id="save-btn" onclick="savebtn()">Save</button>
        </div>
        <br>
    <h2 id="res" style="margin: 10px"></h2>
        </div>

    <div style="margin-top:50px;">
        <button class="selloffers" onclick="window.location.href='/banco-facturas'">Sell Offers</button>
        <table id="compradores" style="margin-top:30px;"></table>
    </div>
    <div style="margin-top:100px;">
        <h1>
            Por configurar
        </h1>
        <div style="margin-top:50px;">
            <table id="compradores-pendientes"></table>
            <p id="resultado">No hay perfiles pendientes</p>
        </div>
    </div>

        </div>
      
        
<script src="./js/banco-comprador.js"></script> 
    </body>
</html>