<html>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


      <style>

header{
    background-color: #183c56;
    z-index:1;
    height: 50px;
}
 .main{
       margin: 50px auto;
       padding-left:200px;
 }   

body{
            max-width:none;
            margin:0;
      }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
   border-bottom: solid 1px #b5b3b3;
    padding: 10px;
  display: block;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.sidebar{
      float:left;
      height:120%;
      width: 200px;
      position:absolute;
      background-color:#292c35;
      z-index:0;
     color: white;
    padding-top: 90px;

}
</style>

</head>
<body>
       {{>header}}

       {{>sidebar}}
       <script>
             document.getElementById("cs").href="/banco"
           document.getElementById("inicio").href="/banco-clientes"
           document.getElementById("op-1").innerHTML="Clientes"
           document.getElementById("op-1").href="/banco-clientes"
           document.getElementById("op-2").innerHTML="Sell Offers"
           document.getElementById("op-2").href="/banco-facturas"
           document.getElementById("op-3").style.display="none"
       </script>
       <div class="main">
<h1>Mis Clientes</h1>
{{!-- <p id="user"></p> --}}
<a href="http://localhost:3000/prueba">Link api</a>
<br>

<div class="row">
 <form>
      <div class="column" style="width:100px;">
       ID: <p id="IDnum" style="display: inline;"></p>
       </div>     
       <div class="column">
             <input placeholder="Name" id="name"><br>
       </div>
       <div class="column">
             <input placeholder="RFC" id="age"><br>
       </div>     
            <br>
                  </form>
                  <button class="addBtn" onclick="add()">Add</button>
                  <button id="save" onclick="save()">Save</button>
                  <p id="error"></p>
</div>
<div class="w3-container">

<table id ="myTable"></table>


</div>
       </div>

           

<script src="./js/banco-clientes.js"></script> 

</body>
</html>
