<html>
<head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    body{
        max-width: 1250px;
    }
    td{
        width:auto;
        padding: 10px 10px;
    }
</style>
</head>
<body>
    <h1>Clientes</h1>
<p id="user"></p>
<form>
    <input id="search" placeholder="rfc"><br>
    <select class="tipo" id="sel">
        <option value="Proveedor">Proveedor</option>
         <option value="Comprador">Comprador</option>
         <option value="Banco">Banco</option>
    </select>
</form>
    <button class="btn" onclick="findUser()" style="width:120px;">Search</button>
<p id="searchFound"></p>
<hr style="border-color:black">

<div id="proveedores">
    <h2>Proveedores</h2>
<table id="suppliers-table"></table>
</div>

<hr style="border-color:black">

<div id="compradores">
    <h2>Compradores</h2>
<table id="buyers-table"></table>
</div>


<script src="./js/clientes-admin.js"></script> 
</body>
</html>