<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>

header{
    background-color: #183c56;
    z-index:1;
        height: 50px;
}
 .main{
       margin: 50px auto;
       padding-left:200px;
       max-width:1600px;
 }   

body{
            max-width:none;
            margin:0;
      }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
   border-bottom: solid 1px #b5b3b3;
    padding: 10px;
  display: block;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.sidebar{
      float:left;
      height:170%;
      width: 200px;
      position:absolute;
      background-color:#292c35;
      z-index:0;
     color: white;
    padding-top: 90px;

}
    td{
        width:auto;
        padding: 10px 10px;
        font-size:14px;
    }
    .cboxes{
        display:none;
    }
    .cboxes-title{
        display:none;
    }
</style>
    </head>

    <body>
{{>header}}
       {{>sidebarproveedor}}

<div class="main">
  <h1>
Cobranza
</h1>
<div style="margin-top:50px;">
    <h3>Buscar:</h3>
    <form>
        
        <span style="float:left; margin-left:30px;">Fecha de Vencimiento:</span><input type="date" style="float:left; margin-left:10px; " id="fechaVen">
   <span style="float:left; margin-left:30px;">Fecha final de Vencimiento:</span><input type="date" style="float:left; margin-left:10px;" id="fechaMaxVen">

    </form>
    <div style="margin-bottom:50px; padding-top: 50px;">
    <button onclick="buscarVendidas()" >Buscar</button>
</div>
</div>
<div style="margin-top:100px;">
<p id="res"></p>

<div style=" margin-bottom:100px;">
 <h3 id="busqueda">Busqueda:</h3>
       <div style="width: 90em;overflow-x: auto; white-space: nowrap;">
        <table id="tabla-busqueda" style="margin-top:50px;"></table>
        </div>

</div>
          
    <p id="resumen" style="font-weight: 600;font-size: 17px;">Documentos encontrados: <span id="resumenNum"></span></p>
   <p id="resumenV" style="font-weight: 600;font-size: 17px;">Valor de Documentos: $<span id="resumenValor"></span></p>
    <p id="resumenDM" style="font-weight: 600;font-size: 17px;">Total de Intereses: $<span id="resumenDiscountMargin"></span></p>
  
<button style="background-color:#0b7f43" id="download-btn" onclick="window.location.href='vendidas.csv'">Download CSV</button>
</div>

</div>
    <script src="./js/temp.js"></script> 
    <script src="./js/consultar-facturas.js"></script> 
    <script>
        document.getElementById("tabla-busqueda").style.display="none";
            document.getElementById("busqueda").style.display="none";

    </script>
    <script src="./js/buscar.js"></script> 
    </body>
</html>