<html>
    <head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/register.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
            body{
        max-width: 1250px;
        margin:30px 30px;

    }
    td{
        width:auto;
        padding: 10px 15px;
        font-size:14px;
    }
    #result{
        margin-top:30px;
        font-size:20px;
        font-weight: bold;
    }
    </style>

    </head>
    <body>
        

       <h1>Resumen de facturas a descontar</h1>
       <div style="margin-top:30px;">
           Spread Points: <p id="spreadPoints" style="display:inline;">3</p><br>
            Libor: <p id="libor" style="display:inline;">2.35</p>% USD
       </div>
       <h1 id="result">Las facturas se han descontado, se te notificará cuando el banco confirme.</h1>
        <table id="tabla-resumen" style="margin-top:50px;"></table>
        <div style="margin-top:30px;">
            
            <button style="float:left" onclick="window.location.href='/consultar-facturas'">Regresar</button>
            <button style="float:left; margin-right:10px;" onclick="confirmarDescuento()" id="confirmar">Confirmar</button>
        </div>
        <script>

            window.onload = function() {
                
    if(!window.location.hash) {
        window.location = window.location + '#loaded';
        window.location.reload();
    }
}
        </script>
         
        <script src="./js/descontar-facturas.js"></script>

    </body>
</html>