<html>
    <head>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="./css/carga-facturas.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    table{
        border-collapse: collapse;
    }
    td{
        font-size:14px;
        width:auto;
    }
    
      <style>

header{
    background-color: #183c56;
    z-index:1;
        height: 50px;
}
 .main{
       margin: 50px auto;
       min-width:400px;

 }   

body{
    
            margin:0;
      }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
}

li a {
   border-bottom: solid 1px #b5b3b3;
    padding: 10px;
  display: block;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

.sidebar{
      float:left;
      height:120%;
      width: 200px;
      position:absolute;
      background-color:#292c35;
      z-index:0;
     color: white;
    padding-top: 90px;

}


</style>
    </head>
    <body>
       {{>header}}

       {{>sidebar}}
     <h1>Cargar Factura</h1>
        <div style="margin-top:20px; float: left;">
        Tipo de carga: <button id="individual">Individual</button>
        <button id="multiple">Multiple</button>
        </div>

        <a href="http://localhost:3000/file.xlsx">Archivo Cargardo</a>

<div style="margin: 30px 10px;">
    <table id="tabla-facturas"></table>
</div>
<br> 
<div>
    <p id="docs" style="display: inline;"></p> Documentos <br>
    Monto total en pesos (MXN): $<p id="total" style="display: inline;"></p></div>
    <br><br>
        Seguro que quieres subir esta factura? 
        <button onclick="facturasOk()">Confirmar</button>

 <script src="./js/upload.js"></script>       
    </body>
</html>