<header>

<div style="width:1117px; margin:0 auto;">
<ul>
  <li><img src="./img/logo-blanco.png" style="padding-right: 80px; width:280px;"></li>
</ul>

<ul style="position: absolute;
    left: 90%;
    top: 0px; width:auto;">
<li class="dropdown">
 <a href="javascript:void(0)" class="dropbtn" style="border:none;"><img src="./img/user-2.png" style="width:35px;"></a>
    <div class="dropdown-content">
      <a href="#">Mi Perfil</a>
      <a href="/proveedor">Cerrar Sesion</a>
    </div>
</li>
</ul>



</div>
</div>


</header>