<div class="sidebar">

<ul>
    <li><li><a href="/p">Inicio</a></li></li>
    <li><a href="/carga-facturas">Registro de Documentos</a></li>
    <li><a href="/consultar-facturas">Consultar Documentos</a></li>
    <li><a href="/consultar-facturas">Descontar Documentos</a></li>
</ul>
</div>