<div class="sidebar" id="sidebar">

<ul>
    <li><li><a href="/p" id="inicio">Inicio</a></li></li>
    <li><a href="/carga-facturas" id="op-1">Registro de Documentos</a></li>
    <li><a href="/consultar-facturas" id="op-2">Consultar Documentos</a></li>
    <li><a href="/consultar-facturas" id="op-3">Descontar Documentos</a></li>
        <li><a href="/consultar-facturas" id="op-3">Cobranza</a></li>
</ul>
</div>