<script>
                 document.getElementById("cs").href="/admin"
           document.getElementById("inicio").href="/clientes"
</script>
<div class="sidebar" id="sidebar">

<ul>
    <li><li><a href="/clientes" id="inicio">Inicio</a></li></li>
    <li><a href="/clientes" id="op-1">Clientes</a></li>
    <li><a href="/admin-config" id="op-2">Configuración Clientes</a></li>
    <li><a href="/add" id="op-4">Registar Clientes</a></li>
    <li><a href="/consultar-facturas-admin" id="op-5">Consultar Facturas</a></li>
</ul>
</div>