<script>
                 document.getElementById("cs").href="/comprador"
           document.getElementById("inicio").href="/inicio-comprador"
</script>
<div class="sidebar" id="sidebar">

<ul>
    <li><li><a href="/inicio-comprador" id="inicio">Inicio</a></li></li>
    <li><li><a href="#" id="op-2">Notificaciones</a></li></li>
    <li><a href="/consultar-facturas-admin" id="op-5">Consultar Facturas</a></li>
</ul>
</div>