<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="./css/login.css">


</head>
<body>
<div class="layer">
<div class="contenedor" style="background: -webkit-linear-gradient(top, #4a080d, #bb0612)">
<img src="../img/logo-blanco.png" style="width:230px;">   
<p class="title" style="margin-bottom:50px">LOG IN<br> Institucion Financiera</p>
<div class="inp-div">
  <img src="../img/user-white.png" class="user">  <input class="inputs" placeholder="Username">
</div>

<div class="inp-div">
  <img src="../img/lock.png" class="user" style="width:18px;">  <input class="inputs" placeholder="Password" type="password">
</div>
<div style="margin-top: 80px;">
<button onclick="window.location.href='/inicio-banco'">Login</button>
</div>


</div>


</div>



</body>
</html>